In [38]:
import pandas as pd
data_tgcn = pd.read_csv(r'errori_TGCN.csv')
data_gconv = pd.read_csv(r'errori_GConv.csv')
data_evolve = pd.read_csv(r'errori_Evolve.csv')

In [39]:
data_tgcn = data_tgcn.iloc[:,[1,3]]
data_evolve = data_evolve.iloc[:,[1,3]]
data_gconv = data_gconv.iloc[:,[1,3]]
data_gconv

          b     d
0     825.1   9.1
1     436.8   7.9
2     229.0   6.9
3     368.8   7.0
4     488.5   7.5
5    1157.5   9.5
6    3669.5  19.9
7    5318.3  24.5
8    6224.9  27.2
9    8446.9  34.0
10  11866.6  45.3
11  13076.9  50.4
12  11473.1  46.4
13  14885.0  53.3
14  14571.6  51.5
15  15721.8  55.1
16  21267.2  69.2
17  24400.5  77.6
18  16390.5  55.5
19  12377.8  46.0
20   8058.3  35.7
21   4244.2  25.0
22   2117.0  14.4
23   1634.4  13.5

In [11]:
import numpy as np

In [16]:
np.mean(data_tgcn.iloc[:,0]) #MSE TGCN

9138.941666666668

In [17]:
np.mean(data_gconv.iloc[:,0]) #MSE GConv

8302.091666666667

In [18]:
np.mean(data_evolve.iloc[:,0]) #MSE Evolve

8307.35

In [19]:
np.mean(data_tgcn.iloc[:,1]) #MAE TGCN

35.074999999999996

In [20]:
np.mean(data_gconv.iloc[:,1]) #MAE GConv

33.016666666666666

In [21]:
np.mean(data_evolve.iloc[:,1]) #MAE Evolve

33.225

In [32]:
import pandas as pd
errors_var = pd.read_csv('errors_var.csv')
errors_ar = pd.read_csv('ar_errors.csv')
#mse_var['mse_train_naive'] = mse_train_naive
#mse_var['mse_test_test_naive'] = mse_test_naive 
errors_var = errors_var.round(1).applymap(lambda x: f'{x:.1f}'.rstrip('0').rstrip('.'))
errors_ar = errors_ar.round(1).applymap(lambda x: f'{x:.1f}'.rstrip('0').rstrip('.'))
errors_var = errors_var.apply(pd.to_numeric, errors='coerce')
errors_ar = errors_ar.apply(pd.to_numeric, errors='coerce')

In [33]:
import numpy as np

mse_var = np.mean(errors_var.iloc[:,0])
mae_var = np.mean(errors_var.iloc[:,1])
mse_ar = np.mean(errors_ar.iloc[:,0])
mae_ar = np.mean(errors_ar.iloc[:,1])

In [36]:
mse_var

7962.787499999999

In [37]:
errors_var

         y1    y2
0     552.2   7.2
1     283.1   6.4
2     213.3   6.6
3     320.6   6.9
4     457.6   7.7
5    1124.3   9.0
6    3459.6  18.7
7    4947.2  24.7
8    5862.9  28.2
9    8021.8  32.6
10  10964.2  43.8
11  12292.0  48.3
12  10768.7  46.2
13  14244.2  52.9
14  14237.1  51.6
15  15219.8  54.5
16  20610.3  71.2
17  23003.1  83.2
18  15631.2  59.6
19  12039.2  50.7
20   8418.6  41.9
21   4516.1  32.6
22   2240.7  17.0
23   1679.1  15.4

In [28]:
import pandas as pd
tgcn = pd.read_csv('../plot/compare/test_TGCN.csv')
gru = pd.read_csv('../plot/compare/test_ChebConvGRU.csv')
lstm1 = pd.read_csv('../plot/compare/test_ChebConvLSTM.csv')
var = pd.read_csv('../plot/compare/test_var.csv')
var = var.apply(pd.to_numeric)

In [29]:
lstm = lstm1.iloc[3:,23]
gt = lstm1.iloc[3:,-1]

In [30]:
tgcn = tgcn.iloc[3:,23]
gru = gru.iloc[3:,23]

In [38]:
var.iloc[0]

Vector1    31.895728
Name: 0, dtype: float64

In [31]:
diff1 = [a - b for a, b in zip(tgcn, gt)]
diff2 = [a - b for a, b in zip(var, gt)]
diff3 = [a - b for a, b in zip(lstm, gt)]
diff4 = [a - b for a, b in zip(gru, gt)]
fd = 200
id = 100
fig, axs = plt.subplots(2, 1, figsize=(16, 7))
axs[0].plot(gru[id:fd], label="ChebConvGRU")
axs[0].plot(lstm[id:fd], label="ChebConvLSTM")
axs[0].plot(tgcn[id:fd], label="TGCN")
axs[0].plot(var[id:fd], label="VAR")
axs[0].plot(gt[id:fd], label="Ground Truth")
axs[0].legend()
#axs[0,1].set_ylim(-40,1040)
#axs[1].set_title("Daily series at "+inverse_dict[hour2]+" in first "+str(fd)+" days of the test set")
axs[0].plot(diff4[id:fd], label="ChebConvGRU")
axs[0].plot(diff3[id:fd], label="ChebConvLSTM")
axs[0].plot(diff1[id:fd], label="TGCN")
axs[0].plot(diff2[id:fd], label="VAR")
axs[1].legend()
#axs[1,1].set_ylim(-1040,1040)
axs[1].set_title("Residuals")
plt.show()

TypeError: unsupported operand type(s) for -: 'str' and 'float'